.tmp_versions/
include/generated/
include/config/
include/linux/version.h
kernel/bounds.s
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table.h
lib/gen_crc32table
lib.a
*.o
.*.cmd
*.symvers
*.ko
*.mod.c
*.mod.o
*.order
*.bin.gen.S
*.builtin
vmlinux
*.cpio
.*.cpio.d
*.lds
logo_*.c
clut_*.c
.missing-syscalls.d
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
.version
*.map
scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
usr/gen_init_cpio
arch/arm/boot/Image
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
#drivers/video/logo/clut_vga16.c
*.*.old
*.rej
*.orig
*.*.rej
*.*.orig
scripts/kconfig/mconf
